* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Container holding the image and the text */
.container {
    position: relative;

}

/* Bottom right text */
.text-block {
    position: absolute;
    text-align: center;
    bottom: 500px;
    right: 20px;
    color: #444343;
    padding-left: 20px;
    padding-right: 20px;
}

.text-head {
    padding: 28px;
}

.text-pragraph {
    padding: 32px;
}

/* contact btn */
.first-contact-btn {
    color: #FFFFFF;
    background-color: orange;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 1ch;
}

/* main section styles start */
.banner {
    display: flex;
    align-items: center;
    margin: 0px 200px;
    margin-bottom: 100px;
    /* background-image: url('../images/gradient2.png'); */
    background-repeat: no-repeat;
    background-position: left;



}

.banner-titel {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.banner-sub-titel {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.banner-sub {
    padding-left: 300px;
}

/* my plan section styles */
.section-1 {
    display: flex;
    align-items: center;
}

.plan {
    width: 1000px;
    margin: auto;
}

.plan-container {
    display: flex;
    justify-content: space-between;
}

.plan-titel {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

/* ---------posative section---------- */
.posative{
    background-image: url(../images/watch.png);
    background-position:center;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
    width: 100%;
    margin-top: 100px;
}
.posative-4{
    display: flex;
    flex-direction: column;
    margin-left: 450px;
    padding-top: 30px;
}

.posative-1{
}
.posative-2{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    background: #F15B22;
}
.posative-3{
    background: no-repeat center fixed;
}



/* -----------advancer section ----------- */

/* what i do styles */
.what-i-do {
    margin-top: 130px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700px;
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 15px;
    color: #757575;
}

.section-title {
    margin-top: 130px;

}







/* ---------------footer section ----------- */

.footer-section {
    display: flex;
    align-items: center;
    max-width: 100%;
    background: #151414;
    color: #FFFFFF;
    padding: 100px;
    margin-top: 100px;
    justify-content: space-between;

}

.footer-titel {
    padding: 20px;
}

.footer-sub-titel {
    padding: 16px;
}

.footer-sub-titel-1 {
    padding: 16px;
}

.footer-sub-titel-2 {
    padding: 16px;
}

.sub-footer {}

.footer-1 {
    padding: 30px;
    font-weight: 600;
    font-size: 25px;
}

.footer-2 {
    padding: 10px;
}

.footer-3 {
    margin-top: 10px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;

}